body {
	background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
	padding-bottom:50px;
	font-family:Arial, sans-serif;
	overflow-x: hidden;
	overflow-y: hidden;
	animation: fadein 1s forwards;
}

@keyframes fadein {
	0% {opacity: 0}
	100% {opacity: 1}
}

.bar {
    position:relative;
    text-align:center;
    top:500px;
}

.bar input[type="text"] {
    position:relative;
    height:40px;
    border-radius:80px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border:none;
	outline: none;
}
input[type="text"] {
	text-indent:40px;
}

.wrapper {
  flex:1;
}


.pri {
	font-size:107%;
	position:relative;
	bottom:-14px;
	right:-1270px;
}
	
.term {
	font-size:107%;
	position:relative;
	bottom:-2px;
	right:-1390px;
}
	
.set {
	font-size:107%;
	position:relative;
	bottom:10px;
	right:-1450px;
}
.c {
	position: relative;
	top:-805px;
	left: 750px; 
	font-size: 14px;
	color: rgb(61, 58, 58);
}
.b {
	position: relative;
	top:-765px;
	left: 600px; 
	font-size: 14px;
	color: rgb(61, 58, 58);
}
.c, .b{
	background: rgb(249, 249, 249);
	display: flex;
	width: 130px;
	height: 40px;
	border-radius: 6px;
	justify-content: center;
	align-items: center;
}
.d {
	position: relative;
	top:-70px;
	left: 1370px; 
	background-color: (255,255,255,0.5);
}
.en {
	position: relative;
	top:-102px;
	left: 1405px; 
	background-color: (255,255,255,0.5);
}
.ic {
	position: relative;
	top:-145px;
	left: 1442px; 
	background-color: (255,255,255,0.5);
}
.y1 {
	position: relative;
	position: absolute;
	top:370px;
	left: 465px; 
	background-color: (255,255,255,0.5);
}
.y2 {
	position: relative;
	position: absolute;
	top:370px;
	left: 650px; 
	background-color: (255,255,255,0.5);
}
.y3 {
	position: relative;
	position: absolute;
	top:370px;
	left: 845px; 
	background-color: (255,255,255,0.5);
}
	.km {
	position: relative;
	top:-799.5px;
	left: 987px; 
	background-color: (255,255,255,0.5);
}
.cla {
	position: relative;
	top:-840px;
	left: 410px;
}
.pa {
	position: relative;
	top:-1000px;
	left: 80px;
}
.coun {
	position:relative;
	font-size:90%;
}
		
.cle {
	position:relative;
	font-size:90%;
	top: 1000px;
}
		
.pre {
	position:relative;
	font-size:90%;
}
		
.cou {
	position:relative;
	font-size:120%;
}
		
.show {
	background-color: rgb(244, 244, 244);
	padding: 20px;
	height: -20px;
	overflow:hidden;
	position: relative;
	top:-700px;
	width:15%;
	right:-1100px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	border-radius: 8px;  /* ← 見た目をきれいに */
}
.you {
	position:relative;
	text-align:center;
	font-size: 400%;
	top:250px;
	font-family: 'Segoe UI', Tahoma;
	mix-blend-mode: difference;
}
.mm {
	position: absolute;
	top:282px;
	left: 487px; 
	background-color: (255,255,255,0.5);
}
