
body {
	background-color:gold;
	overflow-x:hidden;
	overflow-y:hidden;
}

.ser {
	font-size: 1500%;
	position:relative;
	right:-330px;
}

.site {
	font-size: 1200%;
	position:relative;
	right:-330px;
	top:-100px;
}

.num {
	font-size: 3400%;
	position:relative;
	right:-870px;
	top:-790px;
	
}

.sta {
	position:relative;
	text-align: center;
	bottom:-600px;
}

.sta input[type="submit"] {
		background-color:gold;
		border: none; /* 枠線を消す */
		color:black;
		border-radius: 5px; /* 角を丸くする */
		font-size: 16px; /* フォントサイズ */
		cursor: pointer; /* ホバー時のカーソル */
		transition: background-color 0.3s ease; /* ホバー時のアニメーション */
		font-size:130%;
}










